//レスポンシブ用
$mb: 767px;
@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}

html {
  font-size: 16px;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;
  box-sizing: border-box;
  @include mobile {
    font-size: 12px;
    padding-bottom: 100px;
  }
}
body {
  color: #4d4d4d;
  background-color: #fafafa;
}
h2{
  font-size: 2.5rem;
  margin-bottom: 20px;
}
a{
  color:inherit;
  text-decoration: none;
}
.line{
  &:hover{
    opacity: 0.7;
    border-bottom: 1px solid #a9a9a9;
  }
}
img {
  width: 100%;
}
li {
  list-style: none;
}
p{
  text-align: left;
  &.center{
    text-align: center;
  }
}
header{
  background-color: #efe7d5;
  position: sticky;
  top: 0;
  .menu{
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin: 0 auto;
    @include mobile{
      height: 60px;
    }
    ul{
      display: flex;
      padding: 10px 0;
    }
    li{
      margin: 0 20px;
      @include mobile {
        margin: 0 15px;
      }
      // a{
      //   color: #000000;
      // }
    }
    img{
      opacity: 0.75;
      width: 100px;
      height: 50px;
      @include mobile {
        width: 75px;
        height: auto;
        padding-left: 15px;
      }
    }
  }
}

main{
  section{
    max-width: 1000px;
    margin: 0 auto 80px auto;
    padding: 0 4%;
    @include mobile {
      margin: 0 auto 40px auto;
    }
    &:first-child{
      margin-top: 80px;
      @include mobile {
        margin-top: 30px;
      }
    }
  }
  p{
    &.link{
      text-align: right;
      margin: 50px;
      @include mobile {
        margin: 10px;
      }
      a{
        padding: 5px;
      }
    }
  }
  #about{
    text-align: center;
  }
  #work, #note{
    ul{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;
      column-gap: 2%;
      row-gap: 20px;
      @include mobile {
        margin-bottom: 25px;
      }

      li{
        width: 32%;
        @include mobile {
          width: 49%;
        }
        img{
          width: 100%;
          max-width: 290px;
          height: auto;
          @include mobile{
            height: auto;
          }
        }
        // margin-bottom: 20px;
      }
    }
  }
  #list{
    ul{
      display: flex;
      flex-wrap: wrap;
      .item{
        width: 100%;
      }
      li{
        display: flex;
        padding: 25px 0;
        width: 100%;
        border-bottom:1px solid #a5a5a5;
        @include mobile {
          padding: 15px 0;
        }
        img{
          width: 290px;
          height: 290px;
          margin-right: 50px;
          @include mobile {
            width: 40%;
            height: auto;
            max-height: 40%;
            margin-right: 15px;
          }
        }
      }
    }
  }
  #detail{
    img{
      margin: 0 auto 50px;
      display: block;
      width: 90%;
      height: auto;
    }
    p{
      margin-bottom: 30px;
    }
  }
  #about-detail{
    .introduction{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
      div{
        max-width: 50%;
        h3{
          font-size: 1.5rem;
          margin-bottom: 10px;
          span{
            font-size: 1rem;
          }
        }
      }
      img{
        max-width: 30%;
      }
    }
  }
  #contact{
    ul{
      margin-top: 30px;
      li{
        margin-bottom: 15px;
        a{
          display: flex;
        }
      }
      img{
        width: 25px;
        height: 25px;
        opacity: 0.5;
        margin-right: 10px;
      }
    }
  }
}

footer{
  background-color: #efe7d5;
  width: 100%;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  div{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin: 0 auto;
    @include mobile {
      height: 100px;
      justify-content: center;
      flex-direction: column-reverse;
      align-items: center;
    }
    ul{
      display: flex;
      padding: 10px 0;
    }
    li{
      font-size: 0.9rem;
      margin-left: 15px;
      @include mobile {
        margin: 0 5px;
      }
      a{
        // color: #24292e;
        &:hover{
          opacity: 0.7;
        }
      }
    }
    img{
      width: 25px;
      height: 25px;
      opacity: 0.5;
    }
  }
}
